{% extends '/pages/partials/base.html.twig' %}

{% block title %}Hello RecipeController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code>C:/Users/Stagiaire/Desktop/EXOSYMFONY/src/Controller/RecipeController.php</code></li>
        <li>Your template at <code>C:/Users/Stagiaire/Desktop/EXOSYMFONY/templates/recipe/index.html.twig</code></li>
    </ul>
</div>
<div class = "count">
            <h4>Il y a {{recipes.getTotalItemCount}} recettes</h4>
        </div>

        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Numéro</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Prix</th>
                    <th scope="col">Date de création</th>
                    <th scope="col">Modification</th>
                    <th scope="col">Suppression</th>
                </tr>
            </thead>
            <tbody>
        {% for ingredient in ingredients %}
            <tr class="table-primary">
                <th scope="row">{{ingredient.id}}</th>
                    <td>{{recipe.name}}</td>
                    <td>{{(recipe.price is same as (null)) ? "Non renseigne" : recipe.price}}</td>
                    <td>{{(recipe.difficulty is same as (null)) ? "Non reneigner" : recipe.diffuclty }}</td>
                    <td>{{recipe.createAt|date('d/m/Y')}}</td>
                    <td>
                    <a href="{{ path('app_ingredient_edit', {id: recipe.id }) }}" class="btn btn-info">Modifier </a>
                    </td>
                    <td>
                    <a href="{{ path('app_ingredient_delete', {id: recipe.id}) }}" class=btn "btn-danger"> Supprimer </a>
                    </td>
                </tr>
    {% endfor %}


{% endblock %}
